body {
padding-top: 30px;
}
.portfolio-item {
margin-bottom: 25px;
}
.col-centered{
float: none;
margin: 0 auto;
}
.centerBlock {
display: table;
margin: 0 auto;
}
.centerBlock {
display: table;
margin: 0 auto;
}